body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    background-color: #4CAF50;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

main {
    flex: 1;
    margin-top: 60px; /* Match header height */
    margin-bottom: 60px; /* Match footer height */
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}