body, html {
    --hui:#86888B;
    --lan:#0A84FF;
    --qianlan:#49c2ef;
    --huihei:#262c4e;
    --beijinghui:#F7F7F7;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* 针对ios */
    -webkit-overflow-scrolling: touch;
    font-family: Arial, sans-serif;
    background-color: var(--beijinghui);
}
#calendar{
    display: none;
    z-index: 1001;
}
.head {
    background-color: var(--beijinghui);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80px;
}
.head-title{
    font-size: 1.2em;
    margin-bottom: 10px;
}
.head-infotot{
    display: grid;
    grid-template-columns: 40% 20% 40%;
}
#head-anno{
    text-align: left;
    padding-left: 10%;
    font-size: 1.2em;
    margin-top: 6px;
}
#head-mese{
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
    color: #fff;
    background-color: var(--qianlan);
}
#head-tot {
    text-align: right;
    padding-right: 10%;
    font-size: 1.2em;
    margin-top: 6px;
}
.foot {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.foot-item {
    width: 30%;
    text-align: center;
    /* 去除点击阴影 */
    -webkit-tap-highlight-color: transparent; 
}
.foot-item img{
    margin-top: 5px;
    width: 25px;
    height: 25px;
}
.foot-item div{
    font-size: 10px;
    text-align: center;
    color: #86888B;
}
#logpage{
    height: 100%;
    background-color: var(--beijinghui);
    z-index: 1000;
}
#mainpage{
    background-color: var(--beijinghui);
}
.main {
    flex: 1;
    margin-top: 80px; /* Match header height */
    margin-bottom: 100px; /* Match footer height */
    overflow-y: auto;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
}
.main li {
    position: relative;
}
.li{
    position: relative;
    display: flex;
    align-items: center;
    padding:2px 0px;
    z-index: 1;
    transform: translateX(0);
}
.li-nome{
    width: 10%;
    color: var(--lan);
    font-weight: bold;
    text-transform: capitalize;
}
.li-date{
    margin-left: 1%;
    width: 15%;
    height: 35px;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: #333;
}
.li-icon{
    width: 30px;
    height: 30px;
}
.li-motivo{
    width: 45%;
    margin-left: 3%;
}
.li-value{
    width: 23%;
    text-align: right;
}
.li-tot{
    background-color: var(--beijinghui);
    border-bottom: 0.5px solid #ccc;
    border-top: 0.5px solid #ccc;
    font-size: 12px;
    height: 33px;
}
.li-movi{
    background-color: #fff;
}
.li-nota{
    font-size: 12px;
    color: #8a949e;
}
.li-but{
    font-size: 14px;
    background-color: #fff;
    color: red;
    margin-left: 5px;
    width: 70px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px solid red;
    position: absolute;
    top: 6px; /* 定位到 movili 的底部 */
    left: 78%; /* 按钮左对齐 */
    box-sizing: border-box;
}
.movili{
    background-color: #fff;
    transition: transform 0.5s ease;
}
#tastiera {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    z-index: 1000;
}
.tas-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
}
#tas-data, #tas-modi {
    font-size: 1em;
}
#tas-data {
    margin-left: 5px;
    border: 1px solid rgb(0, 122, 255);
    border-radius: 5px;
    color: rgb(0, 122, 255);
    padding: 1px 10px;
    background-color: #fff;
}
#tas-data:active {
    background-color: rgb(0, 122, 255);
    color: white;
}
#tas-butnota {
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid rgb(0, 122, 255);
    border-radius: 5px;
    color: rgb(0, 122, 255);
    font-size: 14px;
    padding: 0px 10px;
}
#tas-modi:active {
    background-color: #8a949e;
    color: white;
}
.nota{
    background-color: #fff;
    padding: 2% 2%;
    width: 100%;
    height: 60px;
    font-size: 1em;
    display: none;
}
#tas-nota{
    height: 30px;
    padding: 2px;
    margin-top: 5px;
    width: 94%;
    font-size: 1em;
    border: 1px solid #ccc;
    
}
.keys {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background-color: #ccc;
    margin-bottom: 30px;
}
.key {
    background-color: white;
    border: none;
    height: 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}
.key:active {
    background-color: #ddd;
}
.conferma {
    background-color: rgb(0, 122, 255);
    color: white;
}
.addhead {
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    font-size: 1.2em;
}
.close {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    float: right;
}
.current-selection {
    text-align: left;
    font-size: 18px;
    margin-bottom: px;
}
#current-img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    vertical-align: middle;
}
#current-motivo{
    font-size: 1.2em;
    margin-left: 20px;
    vertical-align: middle;
}
#current-value{
    vertical-align: middle;
    text-align: right;
    font-size: 1.5em;
    margin-right: 20px;
    float: right;
}
#current-date{
    display: inline;
    vertical-align: middle;
    text-align: right;
    font-size: 1.2em;
}
#tabmotivi{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-bottom: 300px;
}
.motivi-item {
    text-align: center;
}
.motivi-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.motivi-item span {
    display: block;
    font-size: 12px;
}
.motivi-item:active {
    background-color: #ddd;
}
#calendar {
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1001;
    background-color: #fff;
    height: 300px;
}
.calendar-header {
    padding: 5px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content:space-between;
}
.year-controls, .month-controls {
    display: flex;
    width: 40%;
}
.year-display, .month-display {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}
.year-controls button, .month-controls button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.calendar-body {
    padding: 10px;
}
.calendar-weekdays,
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    grid-column-gap: 25px;
}
.calendar-weekdays span {
    font-weight: bold;
    margin-bottom: 10px;
}
.calendar-days .day {
    padding: 0; /* 移除原来的 padding */
    cursor: pointer;
    aspect-ratio: 1 / 1; /* 保持正方形 */
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar-days .disabled {
    color: #ccc;
}
.calendar-days .day.selected {
    background-color: rgb(0, 122, 255);
    color: #fff;
    border-radius: 50%;
}
.calendar-ok {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 80px;
    border: 1px solid rgb(0, 122, 255);
    color: #fff;
    background-color: rgb(0, 122, 255);
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.calendar-ok:active {
    background-color: rgb(0, 122, 255);
}
.moving-image {
    position: absolute;
    transition: transform 0.5s ease; /* 平滑过渡 */
    pointer-events: none; /* 禁止交互 */
    z-index: 1001; /* 使克隆的图片在最前面 */
}
.center {
    width: 100%;
    text-align: center;
}
.avatar {
    margin-top: 80px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:  rgb(115, 204, 50);
    margin-bottom: 20px;
    display: inline-block;
    overflow: hidden;
}
.loginput {
    background-color: var(--beijinghui);
    width: 90%;
    font-size: 1.2em;
    padding: 10px;
    margin: 5%;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="submit"] {
    margin: 5%;
    width: 90%;
    height: 50px;
    padding: 10px;
    background-color: var(--qianlan);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgb(0, 122, 255);
}
.famiglia{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.set-utente {
    font-size: 25px;
    margin: 0 30% 20px 30%;
    padding: 10px;
    border-radius: 0px;
    border-bottom: 2px solid #ccc;
    text-transform: capitalize;
}
.set-unload{
    margin-top: 30px;
    font-size: 20px;
}
.item-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.set-buts {
    position: fixed;
    bottom: 120px;
    width: 100%;
}
.set-but {
    margin: 0 20px;
    font-size: 20px;
    border-radius: 10px;
    height: 45px;
    width: 130px;
    background-color: var(--qianlan);
    color:   #fff;
}

#biao-lie {
    margin-left:3%;
    padding-left: 1%;
    width: 92%;
    height: 180px;
    display:flex;
    align-items: flex-end; 
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
#biao-di {
    margin-left:3%;
    padding-left: 1%;
    width: 92%;
    display:flex;
    align-items: flex-end; 
}
.lie {
    display: inline-block;
    margin: 0.5%;
    background-color:orangered;
}
.di {
    display: inline-block;
    margin: 0.5%;
    font-size: 10px;
    text-align: center;
}
#biao-display {
    width: 50px;
    border-radius: 3px;
    background-color: #e6e6e6;
    position: absolute;
    display: none; /* 默认隐藏 */
    z-index: 10; /* 确保显示在前面 */
    font-size: 10px;
    text-align: center;
    padding: 5px;
}
.hang {
    margin: 3%;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}
.hang-imgbox{
    width: 10%;
}
.hang-img {
    width: 100%;       /* 设置图片宽度 */
    aspect-ratio: 1/1; /* 宽高比例设置为1:1 */
}
.hang-info {
    width: 90%;
    margin-left: 3%;
}
.hang-box {
    display: flex;
}
.hang-des{
    height: 20px;
    width: 65%;
    font-size: 16px;
    line-height: 1.5;
}
.hang-tot{
    height: 20px;
    width: 35%;
    text-align: right;
    font-size: 16px;
    line-height: 1.5;
}
.hang-tu {
    display: inline-block;
    height: 6px;
    background-color: orangered;
    width: 100%;
}
.biao-tongji{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 3%;
}
.biao-tongji div{
    width: 22%;
    height: 30px;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;
    /* 去除点击阴影 */
    -webkit-tap-highlight-color: transparent; 
}
.dixian {
    border-bottom: 2px solid rgb(0, 122, 255);
}
.biao-head-display{
    margin: 0 3%;
}
.biao-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.biao-head-year {
    color: #333;
    width: 20%;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--beijinghui);
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;/* 去除点击阴影 */
    appearance: none;         /* 隐藏select下来箭头 对于其他支持 appearance 的浏览器 */
}
.biao-head-month{
    display: flexbox;
    width: 75%;
    overflow: auto;
    white-space: nowrap; 
    -webkit-overflow-scrolling: touch; /* 平滑滚动 */
    -webkit-tap-highlight-color: transparent; /* 去除点击阴影 */
    align-items: center;
    
}
.biao-head-month::-webkit-scrollbar {
    display: none; /* 隐藏滚动条，适用于Chrome、Safari和Edge */
}
.biao-head-month div{
    display: inline-block;
    width: 20%;
    height: 30px;
    margin: 2%;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 2;
}
.biao-main {
    margin-top: 100px;
}
.biao-tot {
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: var(--qianlan);
    border-radius: 5px;
    align-items: center;
    padding: 15px;
    height: 30px;
}
.biao-tot div{
    color: #fff;
}
.biao-tot-num {
    text-align: right;
}
#biao-year{
    display: flex;
    width: 100%;
    overflow: auto;
    white-space: nowrap; 
    -webkit-overflow-scrolling: touch; /* 平滑滚动 */
    -webkit-tap-highlight-color: transparent; /* 去除点击阴影 */
    align-items: center;
    
}
#biao-year::-webkit-scrollbar {
    display: none; /* 隐藏滚动条，适用于Chrome、Safari和Edge */
}
#biao-year div{
    height: 30px;
    margin: 2%;
    margin-right: 5%;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 2;
}
#infopage{
    background-color: var(--beijinghui);
}
.info-head{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--qianlan);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.info-title {
    padding-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-bottom: 0.5px solid #ccc;
}
.backup{
    display: flex;
    width: 20%;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;/* 去除点击阴影 */
}
.backup span{
    font-size: 14px;
    vertical-align: middle;
    color: #fff;
}
.backup img{
    margin-top: 1px;
    width: 14px;
    height: 14px;
}
.info-motivo{
    display: inline-block;
    width: 37%;
    text-align: center;
    color: #fff;
}
.info-title div{
    font-size: 20px;
    align-items: center;
    vertical-align: middle;
    padding: 5px;
    margin-left: 15px;
}
.info-tot {
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
}
.info-tot div{
    font-size: 20px;
    color: #fff;
}
#info-list{
    margin-top: 110px; /* Match header height */
    margin-bottom: 80px; /* Match footer height */
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
}